@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&family=Poppins:wght@100;200;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: white;
}
.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 32px;
  letter-spacing: 10px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 600px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #11d811;
  background-color: rgba(0, 0, 0, 0);

  /* background-image: linear-gradient(
    -225deg,
    #ff4e50 0%,
    #d87b6f 48%,
    #f9d423 100%
  ); */
  color: #fff;
}

.coin-input::placeholder {
  color: #eeeeee;
}

.coin-labels {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.percent-label {
  margin-left: 10px;
}
.mktcap-label {
  margin-left: 5px;
}
.name-label {
  margin-left: -30px;
}
@media only screen and (max-width: 969px) {
  .coin-labels {
    display: none;
  }
  .coin-input {
    border-radius: 50px;
    width: 80vw;
  }
}
